<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Drankly</title>
    <link href="app/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="app/css/app.css" rel="stylesheet" />
</head>
<body ng-app="drankly">
    <div ng-controller="SearchCtrl">
        <ul id="searchbar">
            <li><a ng-click="reset()" href="#"><i class="fa fa-2x fa-refresh"></i></a></li>
            <li><a ng-click="findBars()" href="#"><i class="fa fa-2x fa-glass"></i></a></li>
            <li><a ng-click="findAtm()" href="#"><i class="fa fa-2x fa-dollar"></i></a></li>
        </ul>
    </div>

    <div ng-controller="MapCtrl" ng-init="setCenter()">
        <google-map center="map.center" zoom="map.zoom" draggable="true">
            <markers models="map.markers" coords="'self'"></markers>
        </google-map>
    </div>

    <script src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
    <script src="app/lib/underscore/underscore-min.js"></script>
    <script src="app/lib/angular/angular.min.js"></script>
    <script src="app/lib/angular/angular-google-maps.min.js"></script>
    <script src="app/lib/angular/angularjs-google-places.min.js"></script>
    <script src="app/lib/angular/angularjs-geolocation.min.js"></script>

    <script src="app/js/app.js"></script>
    <script src="app/js/controllers/search.js"></script>
    <script src="app/js/controllers/map.js"></script>
    <script src="app/js/services/marker.js"></script>
</body>
</html>
