body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#searchbar {
    position: absolute;
    right: 0px;
    top: 90px;
    height: auto;
    width: 50px;
    margin: 15px 0;
    padding: 0;
    background: #008299;
    border-radius: 10px 0 0 10px;
    list-style: none;
    text-align: center;
    box-shadow: black 0 0 5px 1px;
    z-index: 1;
}

    #searchbar li {
        padding: 12px;
    }

        #searchbar li:hover {
            background-color:black;
        }

    #searchbar a {
        color: white;
    }

.angular-google-map-container {
    height: 100%;
}
